@import "mixins";

// Variables

$GreyColor:#757575;
$AnotherGreyColor:#acacac;
$FooterText:#8f8e8e;

// Header
.slide-enter{
  opacity: 0;
}
.slide-enter-active{
  transition: opacity .4s;
}
.slide-enter-to{
  opacity: 1;
}
.slide-leave{
  opacity: 1;
}
.slide-leave-active{
  transition: opacity .4s;
}
.slide-leave-to{
  opacity: 0;
}

*{
  box-sizing: border-box;
  margin: 0;
}
body{
  height: 5000px;
}
header{
  position: relative;
  background: url("../img/Header/header-bg.jpg") no-repeat;
  height: 977px;
  margin-bottom: 555px;
  @media(max-width:734px) {
    margin-bottom: 1000px;
  }
  .headerTop{
    padding-top: 60px;
    margin: 0 5% 307px 5%;
    @include between;
    align-items: center;
    .header-menu{
      height: 60px;
      @include flex;
      flex-direction: column;
      .mobile-menu{
        i{
          display: none;
          font-size: 24px;
          color:white;
          position: absolute;
          right:8%;
          top: 8%;
          @media(max-width:1366px) {
            display: block;
          }
        }
      }
      .active-menu{
        z-index:2;
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
        height:100vh;
        background: #00e8d1;
        .close{
          i{
            position: absolute;
            top: 3%;
            right: 10%;
            &:hover{
              color:white;
              transition:color 0.25s;
            }
          }
        }
        nav{
          height: 350px;
          @include flex;
          ul{
            flex-direction: column;
            text-align: center;
            padding: 0;
            li{
              margin: 15px 0;
            }
          }
        }
      }
      nav{
        display: flex;
        align-items: center;
        min-height: 40px;
        @media(max-width:1366px) {
          display: none;
          text-align: center;
          ul{
            flex-direction: column;
          }
        }
        ul{
          display: flex;
          margin: 0;
          list-style: none;
          color: #ffffff;
          font-family: Montserrat,sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 14px;
          li{
            margin: 10px 20px;
          }
        }
      }
    }
    }
  }
  .headerMiddle{
    width: 684px;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin-left: 779px;
    @media (max-width: 1550px) {
      text-align: center;
      margin: 0 auto;
    }
    @media(max-width:734px) {
      width: auto;
    }
    h3{
      color: #ffffff;
      font-family: "Playfair Display",sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 74px;
      @media(max-width:734px) {
        font-size: 18px;
        line-height: 40px;
      }
    }
    h1{
      color: #ffffff;
      font-family: "Montserrat",sans-serif;
      font-size: 55px;
      font-weight: 900;
      line-height: 74px;
      text-transform: uppercase;
      margin-bottom: 20px;
      @media(max-width:734px) {
        font-size: 32px;
        line-height: 50px;
        margin: 0 auto 20px auto;
      }
    }
    p{
      color:white;
      font-family: Muli,sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 40px;
    }
    button{
      width: 164px;
      height: 42px;
      border-radius: 21px;
      background-color: #ffffff;
      color: #757575;
      font-family: Montserrat,sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      @media (max-width: 1550px) {
        margin: 0 auto;
      }
    }
  }
  .headerBottom{
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -400px;
    transform: translateX(-50%);
    @include flex;
    flex-wrap: wrap;
    @media(max-width:734px) {
      bottom: -990px;
    }
    .headerBottom-left{
      position: relative;
      z-index: 2;
      width: 359px;
      height: 495px;
      background: url("../img/Header/HeaderBottom/headerBottomLeftBg.png");
      h3{
        padding-top: 121px;
        width: 290px;
        margin: 0 auto 40px auto;
        color: white;
        font-family: Montserrat,sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 35px;
      }
      p{
        color: white;
        width: 290px;
        margin: 0 auto;
        font-family: Poppins,sans-serif;
        font-weight: 400;
        line-height: 24px;
      }
      .btn{
        @include flex;
        z-index: 0;
        position: absolute;
        bottom: 50px;
        left: -20px;
        width: 164px;
        height: 42px;
        border-radius: 21px;
        background: white;
        color: #757575;
        font-family: Muli,sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
        @media(max-width: 736px){
          left: 50%;
          transform: translate(-50%);
        }
      }
    }
    .headerBottom-right{
      width: 781px;
      height: 495px;
      box-shadow: 0 4px 35px rgba(218, 218, 218, 0.77);
      background-color: #ffffff;
      @media(max-width: 1157px){
        width: 359px;
      }
      .features{
        @include flex;
        height: 100%;
        .featuresBlock{
          width: 700px;
          min-height: 214px;
          @include flex;
          flex-wrap: wrap;
          .featureItem{
            width: 321px;
            height: 82px;
            display: flex;
            @media(max-width: 1157px){
              margin: 10px 0;
            }
            .featureItem-icon{
              width: 75px;
              height: 82px;
            }
            .featureItem-text{
              width: 248px;
              height: 82px;
              h3{
                /* Style for "Financial" */
                line-height: 21.95px;
                color: #404040;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
              }
              p{
                color: #757575;
                font-family: "Noto Serif" ,sans-serif;
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }

// Main

// Company Values

main{
  .companyValues{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 619px;
    .happyMan{
      width: 540px;
      position: relative;
      @media(max-width:1296px) {
        display: none;
      }
    }
    .companyValues-content{
      .companyValues-content-top{
        width: 716px;
        margin-bottom: 69px;
        @media(max-width:768px) {
          text-align: center;
          p{
            width: 50%;
            margin: 0 auto;
          }
        }
        @media(max-width:430px) {
          p{
            width: 35%;
          }
        }
        h2{
          color: #444444;
          font-family: Montserrat,sans-serif;
          font-size: 22px;
          font-weight: 700;
          line-height: 48px;
          text-transform: uppercase;
          margin-bottom: 25px;
        }
        p{
          color: #757575;
          font-family: "Poppins",sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .companyValues-content-bottom{
        height: 335px;
        .circle{
          text-align: center;
          img{
            @media(max-width:768px) {
                width: 600px;
            }
            @media(max-width:630px) {
              width: 500px;
              height: 250px;
            }
            @media(max-width:530px) {
              width: 400px;
              height: 200px;
            }
          }
        }
      }
    }
  }
  .experts{
    background: url("../img/Main/2 Experts/contain.png");
    min-height: 465px;
    .experts-content{
      @include flex;
      flex-direction: column;
      min-height: 465px;
      h2{
        text-align: center;
        color: #fdfdfd;
        font-family: Montserrat,sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 64px;
        text-transform: uppercase;
        margin-bottom: 40px;
        @media(max-width:960px) {
          font-size: 32px;
        }
      }
      p{
        text-align: center;
        width: 750px;
        color: #ffffff;
        font-family: Muli,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24.58px;
        margin-bottom: 50px;
        @media(max-width:990px) {
          width: 400px;
          margin: 0 auto 50px auto;
        }
      }
      .experts-content-buttons{
        width: auto;
        @include flex;
        flex-wrap: wrap;
        div{
          margin: 20px 35px;
          width: 205px;
          height: 52px;
          border-radius: 26px;
          border:2px solid white;
          color: #fdfdfd;
          font-family: Montserrat,sans-serif;
          font-size: 18px;
          font-weight: 400;
          @include flex;
          &:hover{
            background-color: #ffffff;
            color: #009688;
            transition: background-color 0.5s;
          }
        }
      }
    }
  }
  .coreServices{
    .coreServices-content{
      @include flex;
      flex-direction: column;
      .coreServices-heading{
        @include NewSection;
      }
      .coreServices-items{
        width: 1119px;
        @include flex;
        flex-wrap: wrap;
        @media(max-width: 1200px){
          width: auto;
        }
        .coreServices-item{
          display: flex;
          justify-content: center;
          margin-bottom: 70px;
          .coreService-icon{
            margin-right: 12px;
          }
          .coreService-text{
            h4{
              color: #404040;
              font-family: Montserrat,sans-serif;
              font-size: 18px;
              font-weight: 700;
              line-height: 38px;
              text-transform: uppercase;
            }
            p{
              width: 276px;
              color: #757575;
              font-family: Muli,sans-serif;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .different{
    .different-content{
      @include flex;
      flex-direction: column;
      .different-heading{
        @include NewSection;
      }
      .different-items{
        width: 1170px;
        @include flex;
        flex-wrap: wrap;
        @media(max-width:1200px) {
          width: 100%;
        }
        .differentItem{
          @include flex;
          flex-direction: column;
          margin-bottom: 116px;
          width: 361px;
          @media(max-width:450px) {
            width: 280px;
          }
          .belowBlock{
            margin-top: 165px;
            background: white;
            .belowBlock-content{
              padding: 29px 26px 31px 21px;
              .belowBlock-heading{
                color: #444444;
                font-family: Montserrat,sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                text-transform: uppercase;
              }
              .belowBlock-job{
                font-family: Montserrat,sans-serif;
                font-size: 12px;
                font-weight: 400;
              }
              .belowBlock-p{
                width: 264px;
                color: #8c8c8c;
                font-family: Muli,sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 24px;
              }
            }
          }
        }
        .differentItem:nth-child(1){
          background: url("../img/Main/4 Different Services/1.jpg") no-repeat;
          background-position-x:center;
        }
        .differentItem:nth-child(2){
          background: url("../img/Main/4 Different Services/2.jpg") no-repeat;
          background-position-x:center;
        }
        .differentItem:nth-child(3){
          background: url("../img/Main/4 Different Services/3.jpg") no-repeat;
          background-position-x:center;
        }
        .differentItem:nth-child(4){
          background: url("../img/Main/4 Different Services/4.jpg") no-repeat;
          background-position-x:center;
        }
        .differentItem:nth-child(5){
          background: url("../img/Main/4 Different Services/5.jpg") no-repeat;
          background-position-x:center;
        }
        .differentItem:nth-child(6){
          background: url("../img/Main/4 Different Services/6.jpg") no-repeat;
          background-position-x:center;
        }
      }
    }
    .twitterBlock{
      background: #009688;
      min-height: 120px;
      @include flex;
      .twitterBlock-content{
        width: 943px;
        display: flex;
        flex-wrap: wrap;
        .twitterIcon{
          padding-top: 10px;
          @media(max-width:1007px) {
            width: 100%;
            text-align: center;
            padding: 10px;
          }
        }
        div{
          @media(max-width:900px) {
            width: 100%;
            display: flex;
            justify-content: center;
          }
          p{
            padding-left: 37px;
            width: 863px;
            text-align: center;
            color: #ffffff;
            font-family: Poppins,sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 32px;
            @media(max-width:900px) {
              padding-left: 0;
              width: 60%;
            }
          }
        }
      }
    }
  }
}
footer{
  min-height: 437px;
  background: #313131;
  color: #969595;
  font-family: Muli,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  @include flex;
  .footer-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .recentNews{
      width: 260px;
      margin: 40px;
      .recentNews-heading{
        @include footerHeading;
      }
      .newsItem{
        @include flex;
        margin-bottom: 61px;
        .newsText{
          padding-left: 15px;
          width: 190px;
          color: #ffffff;
          font-family: Muli,sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 20px;
          sub{
            color: #6b6b6b;
            font-size: 10px;
          }
        }
      }
    }
    .usefulLinks{
      margin: 40px;
      width: 227px;
      .usefulLinks-heading{
        @include footerHeading;
      }
      .usefulLinks-items{
        display: flex;
        justify-content: space-between;
        .Col{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 192px;
          .usefulLinks-item{
            a{
              text-decoration: none;
              color:#7b7a7a;
              &:hover{
                color:white;
              }
            }
          }
        }
      }
    }
    .mailingList{
      margin: 40px;
      width: 263px;
      .mailingList-heading{
        @include footerHeading;
      }
      .mailingList-form{
        display: flex;
        flex-direction: column;
        div{
          display: flex;
          input{
            width: 217px;
            margin-right: 10px;
            padding-left: 10px;
          }
        }
        sub{
          margin-top: 15px;
        }
      }
      .mailingList-icons{
        margin-top: 46px;
        width: 263px;
        display: flex;
        justify-content: space-between;
        div{
          font-size: 16px;
          @include flex;
          width: 35px;
          height: 35px;
          background-color: #2e2e2e;
          &:hover{
            background-color: #31aae2;
            color:white;
          }
        }
      }
    }
    .aboutFinance{
      margin: 40px;
      width: 262px;
      .aboutFinance-heading{
        @include footerHeading;
      }
      .aboutFinance-p{

      }
      .aboutFinance-info{
        div{
          border-top:1px solid #3b3b3b;
          padding: 15px 0;
        }
      }
    }
  }
}


















